@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

    <div>
        <p>Project ID: @Environment.GetEnvironmentVariable("CORBADO_PROJECT_ID")</p>
        <corbado-auth project-id=@Environment.GetEnvironmentVariable("CORBADO_PROJECT_ID") conditional="yes">
            <input name="username"
                   id="corbado-username"
                   required
                   autocomplete="webauthn" />
        </corbado-auth>
    </div>

</div>
